.List {
  padding: 12px;
  white-space: nowrap;

  p {
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Row {
  display: flex;
}

.Key {
  flex-basis: 25%;
  opacity: 0.5;
}

.Value {
  flex-basis: 75%;
}
